@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", "Material Icons";
  font-size: 14px;
  font-weight: 900;
  border: none;
  min-height: 0;
  box-shadow: none;
  outline: none;
  text-shadow: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modules-center {
  background: alpha(@background, 0.77);
  padding: 6px 10px;
  color: @primary;
  border-radius: 20px;
  border: 1px solid alpha(@surface_container, 0.9);
}

tooltip {
  background: alpha(@surface_container, 0.9);
  border-radius: 20px;
}

tooltip label {
  padding: 6px;
}

#workspaces,
#power-profiles-daemon,
#custom-menu,
#custom-power,
#custom-swaync,
#custom-playerctl,
#clock,
#pulseaudio,
#network,
#battery,
#mpris,
#tray {
  background: transparent;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 0 2px;
  transition:
    background 0.2s,
    color 0.2s;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

#workspaces button {
  color: alpha(@primary, 0.8);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 2px;
  padding: 2px 8px;
  border-radius: 20px;
}

#workspaces button.active {
  /* background: linear-gradient(135deg, @primary 0%, @tertiary 100%); */
  background: @primary;
  color: alpha(@background, 0.8);
  font-weight: bold;
  min-width: 42px;
  border-radius: 20px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#power-profiles-daemon:hover,
#workspaces button:hover,
#custom-menu:hover,
#custom-power:hover,
#custom-swaync:hover,
#custom-playerctl:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover {
  background: @secondary_container;
}

#mpris.playing {
  color: @primary;
}

#mpris.paused {
  color: @error;
}

#mpris.stopped {
  color: @error;
}

#custom-menu {
  color: @primary;
}

#custom-power {
  color: @error;
}

/* #tray { */
/*   padding: 0 6px; */
/* } */
/**/
/* #battery { */
/*   color: #a6e3a1; */
/* } */
/**/
/* #battery.warning { */
/*   color: #f9e2af; */
/* } */
/**/
/* #battery.critical { */
/*   color: #f38ba8; */
/* } */
/**/
/* #battery.charging { */
/*   color: #89dceb; */
/* } */
/**/
/* #battery.full { */
/*   color: #89b4fa; */
/* } */
/**/
/* #pulseaudio { */
/*   color: @primary; */
/* } */
/**/
/* #network { */
/*   color: @tertiary; */
/* } */

/* color */

#battery {
  color: @tertiary;
}

#battery.warning {
  color: @error;
}

#battery.critical {
  color: @error;
}

#battery.charging {
  color: @tertiary;
}

#battery.full {
  color: @tertiary;
}

#pulseaudio {
  color: @tertiary;
}

#network {
  color: @tertiary;
}

#clock {
  color: @primary;
}
