@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo", "Material Icons";
  font-size: 14px;
  font-weight: 900;
  border: none;
  min-height: 0;
  box-shadow: none;
  outline: none;
  text-shadow: none;
}

window#waybar {
  background: alpha(@background_custom_value, 0.8);
  color: @on_surface;
  border-radius: 20px;
}

window#waybar > box {
  /* padding-left: 12px; */
  /* padding-right: 12px; */
  padding: 4px 10px;
}

/* Nút workspace và custom */
#workspaces,
#power-profiles-daemon,
#custom-menu,
#custom-power,
#custom-swaync,
#custom-playerctl,
#clock,
#pulseaudio,
#network,
#battery,
#mpris,
#tray {
  background: transparent;
  border-radius: 20px;
  padding: 2px 10px;
  margin: 0 2px;
  transition:
    background 0.2s,
    color 0.2s;
}

#workspaces {
  /* padding: 0px 12px; */
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button {
  color: alpha(@primary, 0.5);
  min-width: 24px;
  margin: 0 4px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  border-radius: 20px;
}

#workspaces button.active {
  background: linear-gradient(
    135deg,
    @primary 0%,
    mix(@primary, @tertiary, 0.5) 60%,
    @tertiary 100%
  );

  color: alpha(@background_custom_value, 0.8);
  font-weight: bold;
  padding-left: 18px;
  padding-right: 18px;
  /* padding-top: 14px; */
  /* padding-bottom: 14px; */
  border-radius: 20px;
  animation: 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

/* Hover effect */
#power-profiles-daemon:hover,
#workspaces button:hover,
#custom-menu:hover,
#custom-power:hover,
#custom-swaync:hover,
#custom-playerctl:hover,
#clock:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover {
  background: @secondary_container;
}

#mpris.playing {
  color: @primary;
}

/* ⏸ Paused */
#mpris.paused {
  color: @error;
}

/* ⏹ Stopped */
#mpris.stopped {
  color: @error;
}

/* Menu icon */
#custom-menu {
  color: @primary;
}

#custom-power {
  color: @error;
}

/* Padding cho tray */
#tray {
  padding: 0 6px;
}

/* #battery { */
/*   font-size: 16px; */
/* } */

#battery {
  color: #a6e3a1;
}

#battery.warning {
  color: #f9e2af;
}

#battery.critical {
  color: #f38ba8;
}

#battery.charging {
  color: #89dceb;
}

#battery.full {
  color: #89b4fa;
}

/* #clock { */
/*   font-size: 18px; */
/* } */

#pulseaudio {
  /* color: #f9e2af; */
  color: @primary;
}

#network {
  color: @tertiary;
}
