@define-color bg_default      #161217;
@define-color bg_lighter      #38393f;
@define-color bg_darker       #121318;

@define-color surface_default #121318;
@define-color on_surface      #e3e1e9;

@define-color accent_default  #b8c4ff;
@define-color on_accent       #1f2c61;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
