@define-color bg_default      #12140d;
@define-color bg_lighter      #383a32;
@define-color bg_darker       #12140d;

@define-color surface_default #12140d;
@define-color on_surface      #e3e3d8;

@define-color accent_default  #b7d085;
@define-color on_accent       #243600;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
