@define-color bg_default      #111318;
@define-color bg_lighter      #37393e;
@define-color bg_darker       #111318;

@define-color surface_default #111318;
@define-color on_surface      #e2e2e9;

@define-color accent_default  #adc6ff;
@define-color on_accent       #102f60;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
