@define-color bg_default      #0f1416;
@define-color bg_lighter      #353a3c;
@define-color bg_darker       #0f1416;

@define-color surface_default #0f1416;
@define-color on_surface      #dee3e6;

@define-color accent_default  #87d1eb;
@define-color on_accent       #003543;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
