@define-color bg_default      #0e1514;
@define-color bg_lighter      #343a3a;
@define-color bg_darker       #0e1514;

@define-color surface_default #0e1514;
@define-color on_surface      #dde4e2;

@define-color accent_default  #80d5d1;
@define-color on_accent       #003735;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
