@define-color bg_default      #101418;
@define-color bg_lighter      #363a3e;
@define-color bg_darker       #101418;

@define-color surface_default #101418;
@define-color on_surface      #e0e3e8;

@define-color accent_default  #98ccf9;
@define-color on_accent       #003350;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
