@define-color bg_default      #141318;
@define-color bg_lighter      #3a383e;
@define-color bg_darker       #141318;

@define-color surface_default #141318;
@define-color on_surface      #e6e1e9;

@define-color accent_default  #cbbeff;
@define-color on_accent       #33275e;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
