@define-color bg_default      #0e1415;
@define-color bg_lighter      #39393f;
@define-color bg_darker       #131318;

@define-color surface_default #131318;
@define-color on_surface      #e4e1e9;

@define-color accent_default  #bec2ff;
@define-color on_accent       #272b60;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
