@define-color bg_default      #0e1415;
@define-color bg_lighter      #343a3b;
@define-color bg_darker       #0e1415;

@define-color surface_default #0e1415;
@define-color on_surface      #dee4e4;

@define-color accent_default  #81d3de;
@define-color on_accent       #00363c;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
