@define-color bg_default      #18120c;
@define-color bg_lighter      #403830;
@define-color bg_darker       #18120c;

@define-color surface_default #18120c;
@define-color on_surface      #eee0d5;

@define-color accent_default  #f9ba72;
@define-color on_accent       #482a00;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
