@define-color bg_default      #121318;
@define-color bg_lighter      #39393f;
@define-color bg_darker       #121318;

@define-color surface_default #121318;
@define-color on_surface      #e4e1e9;

@define-color accent_default  #bbc3ff;
@define-color on_accent       #232c61;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
