@define-color bg_default      #10140f;
@define-color bg_lighter      #363a34;
@define-color bg_darker       #10140f;

@define-color surface_default #10140f;
@define-color on_surface      #e0e4db;

@define-color accent_default  #a1d399;
@define-color on_accent       #0b390f;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
