@define-color bg_default      #1a110f;
@define-color bg_lighter      #423734;
@define-color bg_darker       #1a110f;

@define-color surface_default #1a110f;
@define-color on_surface      #f1dfda;

@define-color accent_default  #ffb5a1;
@define-color on_accent       #561f10;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
