@define-color bg_default      #11140f;
@define-color bg_lighter      #373a33;
@define-color bg_darker       #11140f;

@define-color surface_default #11140f;
@define-color on_surface      #e1e4d9;

@define-color accent_default  #a9d291;
@define-color on_accent       #173807;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
