@define-color bg_default      #1a1110;
@define-color bg_lighter      #423735;
@define-color bg_darker       #1a1110;

@define-color surface_default #1a1110;
@define-color on_surface      #f1dedc;

@define-color accent_default  #ffb4ab;
@define-color on_accent       #561e19;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
