@define-color bg_default      #121318;
@define-color bg_lighter      #38393f;
@define-color bg_darker       #121318;

@define-color surface_default #121318;
@define-color on_surface      #e3e2e9;

@define-color accent_default  #b4c5ff;
@define-color on_accent       #1a2e60;

@define-color error_default   #ffb4ab;
@define-color on_error        #690005;
