@define-color window_bg_color #456789;
@define-color accent_bg_color #54546d;
@define-color theme_fg_color #f2ecbc;
@define-color error_bg_color #C34043;
@define-color error_fg_color #DCD7BA;


@import "colors.css";

* {
    all: unset;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

scrollbar {
    opacity: 0;
}

.box-wrapper {
    background: alpha(@bg_default, .7);
    padding: 20px;
    border-radius: 20px;
}

.preview-box,
.elephant-hint,
.placeholder {
    color: @on_surface;
}

.box {
}

.search-container {
    border-radius: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input {
    caret-color: @on_surface;
    background: alpha(@bg_default, .60);
    padding: 10px;
    color: @on_surface;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
    color: @on_surface;
}

child {
}

.item-box {
    border-radius: 10px;
    padding: 10px;
}

.item-quick-activation {
    background: alpha(@accent_default, 0.25);
    border-radius: 5px;
    padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
    background: alpha(@accent_default, 0.25);
}

.item-text-box {
}

.item-subtext {
    font-size: 12px;
    opacity: 0.5;
}

.providerlist .item-subtext {
    font-size: unset;
    opacity: 0.75;
}

.item-image-text {
    font-size: 28px;
}

.preview {
    border: 1px solid alpha(@accent_default, 0.25);
    padding: 10px;
    border-radius: 10px;
    color: @on_surface;
}

.calc .item-text {
    font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
    font-size: 24px;
}

.todo.done .item-text-box {
    opacity: 0.25;
}

.todo.urgent {
    font-size: 24px;
}

.todo.active {
    font-weight: bold;
}

.bluetooth.disconnected {
    opacity: 0.5;
}

.preview .large-icons {
    -gtk-icon-size: 64px;
}

.keybinds-wrapper {
    border-top: 1px solid @bg_lighter;
    font-size: 12px;
    opacity: 0.5;
    color: @on_surface;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
    /* color: lighter(@window_bg_color); */
    font-weight: bold;
    text-transform: lowercase;
}

.keybind-label {
}

.error {
    padding: 10px;
    background: @error_bg_color;
    color: @error_fg_color;
}

:not(.calc).current {
    font-style: italic;
}
