
/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #18120c;

@define-color background_custom #fbba73;

@define-color background_custom_container #673d00;

@define-color background_custom_source #18120c;

@define-color background_custom_value #18120c;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #372f27;

@define-color inverse_primary #835415;

@define-color inverse_surface #eee0d5;

@define-color on_background #eee0d5;

@define-color on_background_custom #482900;

@define-color on_background_custom_container #ffdcbb;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #482a00;

@define-color on_primary_container #ffddba;

@define-color on_primary_fixed #2b1700;

@define-color on_primary_fixed_variant #673d00;

@define-color on_secondary #3f2d17;

@define-color on_secondary_container #fdddbd;

@define-color on_secondary_fixed #281805;

@define-color on_secondary_fixed_variant #58432b;

@define-color on_surface #eee0d5;

@define-color on_surface_variant #d4c4b5;

@define-color on_tertiary #283412;

@define-color on_tertiary_container #d9e9b7;

@define-color on_tertiary_fixed #141f02;

@define-color on_tertiary_fixed_variant #3e4b26;

@define-color outline #9d8e81;

@define-color outline_variant #50453a;

@define-color primary #f9ba72;

@define-color primary_container #673d00;

@define-color primary_fixed #ffddba;

@define-color primary_fixed_dim #f9ba72;

@define-color scrim #000000;

@define-color secondary #e0c1a3;

@define-color secondary_container #58432b;

@define-color secondary_fixed #fdddbd;

@define-color secondary_fixed_dim #e0c1a3;

@define-color shadow #000000;

@define-color source_color #d09f68;

@define-color surface #18120c;

@define-color surface_bright #403830;

@define-color surface_container #251e17;

@define-color surface_container_high #302921;

@define-color surface_container_highest #3b332c;

@define-color surface_container_low #211a13;

@define-color surface_container_lowest #130d07;

@define-color surface_dim #18120c;

@define-color surface_tint #f9ba72;

@define-color surface_variant #50453a;

@define-color tertiary #bdcd9d;

@define-color tertiary_container #3e4b26;

@define-color tertiary_fixed #d9e9b7;

@define-color tertiary_fixed_dim #bdcd9d;

