
/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #121318;

@define-color background_custom #b6c4ff;

@define-color background_custom_container #344479;

@define-color background_custom_source #121318;

@define-color background_custom_value #121318;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #303036;

@define-color inverse_primary #505b92;

@define-color inverse_surface #e3e1e9;

@define-color on_background #e3e1e9;

@define-color on_background_custom #1d2d61;

@define-color on_background_custom_container #dce1ff;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #202c61;

@define-color on_primary_container #dde1ff;

@define-color on_primary_fixed #08164b;

@define-color on_primary_fixed_variant #384379;

@define-color on_secondary #2c2f42;

@define-color on_secondary_container #dfe1f9;

@define-color on_secondary_fixed #171b2c;

@define-color on_secondary_fixed_variant #424659;

@define-color on_surface #e3e1e9;

@define-color on_surface_variant #c6c5d0;

@define-color on_tertiary #44263e;

@define-color on_tertiary_container #ffd7f3;

@define-color on_tertiary_fixed #2c1229;

@define-color on_tertiary_fixed_variant #5c3c56;

@define-color outline #90909a;

@define-color outline_variant #45464f;

@define-color primary #b9c3ff;

@define-color primary_container #384379;

@define-color primary_fixed #dde1ff;

@define-color primary_fixed_dim #b9c3ff;

@define-color scrim #000000;

@define-color secondary #c3c5dd;

@define-color secondary_container #424659;

@define-color secondary_fixed #dfe1f9;

@define-color secondary_fixed_dim #c3c5dd;

@define-color shadow #000000;

@define-color source_color #1b1c23;

@define-color surface #121318;

@define-color surface_bright #38393f;

@define-color surface_container #1f1f25;

@define-color surface_container_high #292a2f;

@define-color surface_container_highest #34343a;

@define-color surface_container_low #1b1b21;

@define-color surface_container_lowest #0d0e13;

@define-color surface_dim #121318;

@define-color surface_tint #b9c3ff;

@define-color surface_variant #45464f;

@define-color tertiary #e5bad9;

@define-color tertiary_container #5c3c56;

@define-color tertiary_fixed #ffd7f3;

@define-color tertiary_fixed_dim #e5bad9;

