
/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #12140d;

@define-color background_custom #b8cf84;

@define-color background_custom_container #3a4d10;

@define-color background_custom_source #12140d;

@define-color background_custom_value #12140d;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2f3129;

@define-color inverse_primary #506527;

@define-color inverse_surface #e3e3d8;

@define-color on_background #e3e3d8;

@define-color on_background_custom #253500;

@define-color on_background_custom_container #d4ec9e;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #243600;

@define-color on_primary_container #d2ec9f;

@define-color on_primary_fixed #131f00;

@define-color on_primary_fixed_variant #394d11;

@define-color on_secondary #2c331d;

@define-color on_secondary_container #dee6c6;

@define-color on_secondary_fixed #171e0a;

@define-color on_secondary_fixed_variant #424a32;

@define-color on_surface #e3e3d8;

@define-color on_surface_variant #c6c8b9;

@define-color on_tertiary #013733;

@define-color on_tertiary_container #bcece5;

@define-color on_tertiary_fixed #00201d;

@define-color on_tertiary_fixed_variant #1f4e49;

@define-color outline #8f9284;

@define-color outline_variant #45483d;

@define-color primary #b7d085;

@define-color primary_container #394d11;

@define-color primary_fixed #d2ec9f;

@define-color primary_fixed_dim #b7d085;

@define-color scrim #000000;

@define-color secondary #c1caab;

@define-color secondary_container #424a32;

@define-color secondary_fixed #dee6c6;

@define-color secondary_fixed_dim #c1caab;

@define-color shadow #000000;

@define-color source_color #96bb4f;

@define-color surface #12140d;

@define-color surface_bright #383a32;

@define-color surface_container #1e2019;

@define-color surface_container_high #292b23;

@define-color surface_container_highest #34362e;

@define-color surface_container_low #1a1c15;

@define-color surface_container_lowest #0d0f09;

@define-color surface_dim #12140d;

@define-color surface_tint #b7d085;

@define-color surface_variant #45483d;

@define-color tertiary #a0d0c9;

@define-color tertiary_container #1f4e49;

@define-color tertiary_fixed #bcece5;

@define-color tertiary_fixed_dim #a0d0c9;

