
/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */




/*-----All Colors--------*/

@define-color background #10140f;

@define-color background_custom #a1d39a;

@define-color background_custom_container #235024;

@define-color background_custom_source #10140f;

@define-color background_custom_value #10140f;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2d322c;

@define-color inverse_primary #3c6939;

@define-color inverse_surface #e0e4db;

@define-color on_background #e0e4db;

@define-color on_background_custom #09390f;

@define-color on_background_custom_container #bcf0b4;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #0b390f;

@define-color on_primary_container #bdf0b4;

@define-color on_primary_fixed #002203;

@define-color on_primary_fixed_variant #245023;

@define-color on_secondary #253423;

@define-color on_secondary_container #d6e8ce;

@define-color on_secondary_fixed #111f0f;

@define-color on_secondary_fixed_variant #3b4b38;

@define-color on_surface #e0e4db;

@define-color on_surface_variant #c2c8bd;

@define-color on_tertiary #00363b;

@define-color on_tertiary_container #bcebf0;

@define-color on_tertiary_fixed #002023;

@define-color on_tertiary_fixed_variant #1e4d52;

@define-color outline #8c9388;

@define-color outline_variant #424940;

@define-color primary #a1d399;

@define-color primary_container #245023;

@define-color primary_fixed #bdf0b4;

@define-color primary_fixed_dim #a1d399;

@define-color scrim #000000;

@define-color secondary #baccb3;

@define-color secondary_container #3b4b38;

@define-color secondary_fixed #d6e8ce;

@define-color secondary_fixed_dim #baccb3;

@define-color shadow #000000;

@define-color source_color #9fd597;

@define-color surface #10140f;

@define-color surface_bright #363a34;

@define-color surface_container #1d211b;

@define-color surface_container_high #272b25;

@define-color surface_container_highest #323630;

@define-color surface_container_low #191d17;

@define-color surface_container_lowest #0b0f0a;

@define-color surface_dim #10140f;

@define-color surface_tint #a1d399;

@define-color surface_variant #424940;

@define-color tertiary #a0cfd4;

@define-color tertiary_container #1e4d52;

@define-color tertiary_fixed #bcebf0;

@define-color tertiary_fixed_dim #a0cfd4;

