[preview]
image_quality = 90
max_width = 9000000
max_height = 9000000

[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912  # 512MB
image_bound      = [ 65535, 65535 ]
suppress_preload = false