@define-color bg_default      {{colors.background_custom_value.default.hex}};
@define-color bg_lighter      {{colors.surface_bright.default.hex}};
@define-color bg_darker       {{colors.surface_dim.default.hex}};

@define-color surface_default {{colors.surface.default.hex}};
@define-color on_surface      {{colors.on_surface.default.hex}};

@define-color accent_default  {{colors.primary.default.hex}};
@define-color on_accent       {{colors.on_primary.default.hex}};

@define-color error_default   {{colors.error.default.hex}};
@define-color on_error        {{colors.on_error.default.hex}};
